{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="icon" href="data:;base64,=">

    <title>{{title}}</title>
  </head>
<!--Шапка сайта-->
  <header style="color:grey;">
    <div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1 d-flex justify-content-between align-items-center">
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
      </label>
      {% if user.profile.profile_pic %}
        <a href={% url 'user_profile' user.profile.id%}>
           <img src="{{ user.profile.profile_pic.url }}" height=50 width=50 style='border-radius:25px;'><br><br>
        </a>
      {% else %}
        <a href={% url 'create_user_profile' %}>
          <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" height=50 width=50 style='border-radius:25px;'>
        </a><br><br>
      {% endif %}
      </div>
      <div class="col-4 text-center">
        <h1><a class="blog-header-logo text-dark" href="/" style="font-weight: bold;font-size: 42px;">Large O</a></h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<form action="{% url 'search_results' %}" method="get" id="search">
  <input name='q' type="search">
  <i class="fa fa-search"></i>
</form>
        {% if not request.user.is_authenticated %}
        <a class="btn btn-outline-success btn-sm" href="{% url 'login' %}">Sign in</a>
        {% else %}
        <a class="btn btn-outline-danger btn-sm" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
    </div>
  </header>
<!--Конец шапки-->

  <div class="nav-scroller py-1 mb-2" style="text-color:red;">
    <nav class="nav d-flex justify-content-between">
      {% for tag in tags%}
      <a class="p-2 link-secondary" href="{% url 'tag' tag.slug %}">{{tag}}</a>
      {% endfor %}
    </nav>
  </div>
</div>

</header>
<body>
<!--Блок контента-->
<div class="content-text">
{% block content %}
{% endblock %}
</div>
<!--Конец контента-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>
<!-- Footer -->

<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title">OLEX<span></span></h5>
<p>About the company, little discription will goes here.. </p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Quick Links<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="#.">Get Started</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Top Leaders</a></div>
</li>
<li>
<div class="thumb-content"><a href="/about/">Success Story</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Event/Tickets</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">News</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Lifestyle</a></div>
</li>
<li>
<div class="thumb-content"><a href="/about/">About</a></div>
</li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Get Started<span></span></h5>
<p>Get access to your full Training and Marketing Suite.</p>
<a class="btn" href="/register/" target="_blank">Register Now</a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">

<div class="widget no-box">
<h5 class="widget-title">Contact Us<span></span></h5>
<p><a href="mailto:olegtar25@gmail.com" title="glorythemes">olegtar25@gmail.com</a></p>
<p><a href="/feedback/"><button type="button" class="btn btn-info" id="contact_us">Связаться с нами</button></a></p>

<ul class="social-footer2">
<li class=""><a title="Youtube" target="_blank" href="//youtube.com"><img alt="youtube" width="30" height="30" src="https://www.youtube.com/img/desktop/yt_1200.png"></a></li>
<li class=""><a href="//facebook.com" target="_blank" title="Facebook"><img alt="Facebook" width="30" height="30" src="https://www.facebook.com/images/fb_icon_325x325.png"></a></li>
<li class=""><a href="//twitter.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"></a></li>
<li class=""><a title="instagram" target="_blank" href="//instagram.com"><img alt="instagram" width="30" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png"></a></li>
</ul>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Copyright OLEX Company © 2022. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>
<!-- Конец footer'а и страницы -->

