{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% comment %} <div class="header-bar">
            <a href="#">&#8592; Back</a>
        </div> {% endcomment %}
    <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data" class="profile__create">
            {% csrf_token %}
            <div class="image__profile">
                <img id="output" src="https://thumbs.dreamstime.com/b/default-avatar-pro…profile-vector-user-profile-profile-179376714.jpg" style="width:200px;height:200px;border-radius:100px;" class="image"/>
                <div class="input__wrapper">
                    <input name={{form.profile_pic.name}} type="file" id="input__file" class="input input__file" onchange="loadFile(event)">
                    <label for="input__file" class="input__file-button">
                       <span class="input__file-icon-wrapper"><img class="input__file-icon" src="../static/images/download.svg" alt="Выбрать файл" width="25"></span>
                       <span class="input__file-button-text">Виберіть файл</span>
                    </label> 
                 </div>
            </div>
            <div class="text__profile">
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <label class="label" for="{{ form.bio.id_for_label }}">Біографія</label>
                            <textarea autocomplete="off" name={{form.bio.name}} class="input" type="email" placeholder='I was born in ...' style='width: 600px;height: 150px;max-width:none;'></textarea>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class="col">
                        <div class="input-group">
                            <label class="label" for="{{ form.facebook.id_for_label }}">Facebook</label>
                            <input placeholder={{form.facebook.name}} type="text" class="input" name={{form.bio.name}}></input>
                            <div></div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group">
                            <label class="label" for="{{ form.twitter.id_for_label }}">Twitter</label>
                            <input placeholder={{form.twitter.name}} type="text" class="input" name={{form.twitter.name}}></input>
                            <div></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label" for="{{ form.instagram.id_for_label }}">Instagram</label>
                            <input placeholder={{form.instagram.name}} type="text" class="input" name={{form.instagram.name}}></input>
                            <div></div>
                        </div>
                    </div>
                </div>

                <input class="button" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% else %}
<meta http-equiv="REFRESH" content="0;url={% url 'login' %}">
{% endif %}

<script>
    let inputs = document.querySelectorAll('.input__file');
    
    let loadFile = function(event) {
    let output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
    Array.prototype.forEach.call(inputs, function (input) {
      let label = input.nextElementSibling,
        labelVal = label.querySelector('.input__file-button-text').innerText;
        
      input.addEventListener('change', function (e) {
        let countFiles = ''; 
        if (this.files && this.files.length >= 1)
          countFiles = this.files.length;
  
        if (countFiles)
          label.querySelector('.input__file-button-text').innerText = 'Выбрано файлів: ' + countFiles;
        else
          label.querySelector('.input__file-button-text').innerText = labelVal;
      });
    });
</script>
{% endblock content %}