{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Главная страница!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    {% block content %}
<!--Carusel-->
<div class="carousel__block" style='width: 75%; margin: 40px auto;'>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/city.jpg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/second_image.jpg' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/third_image.jpg' %}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--End of carusel-->

<!--Cards-->
    <div class="container">
      <h1 class="my-3">Останні новини: </h1>
      <div class="row">
        {% for post in page_obj %}
        <div class="col-md-4 mb-3">
          <div class="card mb-4 shadow-sm h-100">
            <img src="{{ post.image }}" alt="" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{ post.h1|truncatechars:70 }}</h4>
              {{ post.description|safe|truncatewords:14 }}<br>
              {% for tag in post.tag.all %}
                  <a href="{% url 'tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
              {% endfor %}
              <br>
              <div class="d-flex justify-content-between align-items-start">
                <a href="{% url 'post_detail' post.url %}">
                  <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Learn More</span>
                  </button>
                </a>
                <p class="text-muted">{{ post.time_create }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
<!--End of cards-->
<!--Pagination-->
{% block pagination %}
    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <br>
{% endblock %}
<!--End pagination-->

  {% endblock %}
  </body>
</html>
