{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">

<!--    ЭТО КОЛОНКА КОНТЕНТА ПОСТА -->

        <div class="col-lg-8">

<!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->

            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Пост номер 1</li>
                </ol>
            </nav>

<!--    ЭТО ТЕЛО ПОСТА -->

            <img class="img-fluid rounded " src="img/dog.jpg" alt="">
            <hr>
            <p class="lead">Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац.</p>
            <p>А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы.</p>
            <p>А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы.</p>
            <hr>
            <p class="lead text-right">Автор:<a href="#"> Вася пупкин</a></p>
            <hr>
            <div class="text-right">Опубликовано 20.10.2020</div>

<!--    ЭТО КОМПОНЕНТ С КОММЕНТАРИЯМИ -->

            <div class="card my-4">
                <h5 class="card-header">Прокомментируй:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Дуся Иванова</h5>
                    Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье.
                </div>
            </div>
        </div>

<!--    ЭТО ПРАВАЯ КОЛОНКА -->

        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Теги</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Django</a>
                                </li>
                                <li>
                                    <a href="#">VueJS</a>
                                </li>
                                <li>
                                    <a href="#">DRF</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">NuxtJS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Последние статьи</h5>
                <div class="card-body">
                    <h5 class="card-title">Раз пост</h5>
                    <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                    <a href="#" class="card-link">Ссылка на статью</a>
                </div>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Два пост</h5>
                    <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                    <a href="#" class="card-link">Ссылка на статью</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Три пост</h5>
                    <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                    <a href="#" class="card-link">Ссылка на статью</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Четыре пост</h5>
                    <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                    <a href="#" class="card-link">Ссылка на статью</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Пять пост</h5>
                    <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                    <a href="#" class="card-link">Ссылка на статью</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
