{% extends 'base.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}

{% block header %}
    {% include './block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
      <h1 class="center-block">По тегу: #{{tag}}</h1>
</div>
<div class="container">
    <p class="my-3">Інші теги:
        {% for mt in common_tags %}
             <a href="{% url 'tag' mt.slug %}" class="badge badge-success">#{{mt}}</a>
        {% endfor %}
    </p>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-3">
          <div class="card mb-4 shadow-sm h-100">
            <img src="{{ post.image }}" alt="{{post.title}}" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{ post.h1|truncatechars:70 }}</h4>
              {{ post.description|safe|truncatewords:14 }}<br>
              {% for tag in post.tag.all %}
                  <a href="{% url 'tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
              {% endfor %}
              <br>
              <div class="d-flex justify-content-between align-items-start">
                <a href="{% url 'post_detail' post.url %}">
                  <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Learn More</span>
                  </button>
                </a>
                <p class="text-muted">{{ post.time_create }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

    </div>
</div>
</div>
{% endblock %}