{% extends 'base.html' %}

{% block content %}
<div class='profile__block'>
    <div class="header-bar">
        <a href="/" style='margin: 40px 20px'>&#8592; Назад</a>
        <h1 style="text-align:center; font-style: italic; font-size: 48px;">Profile</h1>
    </div>
    
    <div class="profile__body">
      <div class='profile__picture'>
          {% if user.profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" height=250 width=250>
          {% else %}
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" height=400 width=400>
          {% endif %}
        </div>
      <div class='profile__text'>
        <p><strong>Username:</strong> {{ page_user }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <div class="social__medias">
          <a href={{profile.facebook}}><img src='../../static/images/facebook.png' width=48 height=48></a>
          <a href={{profile.instagram}}><img src='../../static/images/instagram.png' width=48 height=48></a>
          <a href={{profile.twitter}}><img src='../../static/images/twitter.png' width=48 height=48></a>
        </div>
      </div>
    </div>
</div>
{% endblock content %}